<div id="root">
  <div id="group-list">
    <div class="group-icon" [class.selected]="currentGroup == groupID" *ngFor="let groupID of objectKeys(groupList)"
      (click)="selectGroup(groupID)">
      <span>{{ groupList[groupID].name | initials }}</span>
    </div>

    <div class="group-icon" id="new-group" (click)="addGroup()" *ngIf="user.hasPermission('group_admin')">
      <img src="/assets/icons/plus.svg">
    </div>
  </div>

  <div id="sidebar">
    <div id="channel-toolbar">
      <ng-container *ngIf="currentGroup !== undefined">
        <span>{{ groupList[currentGroup].name }}</span>

        <div class="image-button danger" (click)="deleteGroup()" *ngIf="user.hasPermission('group_admin')">
          <img src="/assets/icons/delete.svg">
        </div>

        <div class="image-button" (click)="addChannel()" *ngIf="user.hasPermission('group_admin') || isAssistant()">
          <img src="/assets/icons/plus.svg">
        </div>
      </ng-container>
    </div>

    <div id="channel-list">
      <ng-container *ngIf="currentGroup !== undefined">
        <div class="channel-selector" [class.selected]="currentChannel == channelID"
          *ngFor="let channelID of objectKeys(channelList)" (click)="selectChannel(channelID)">
          <ng-container *ngIf="inChannel(channelID)">
            <img src="/assets/icons/hash.svg">
            <span>{{ channelList[channelID].name }}</span>

            <div class="image-button clear" (click)="deleteChannel(channelID)"
              [class.invisible]="currentChannel != channelID || !user.hasPermission('group_admin')">
              <img src="/assets/icons/cross.svg">
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <div id="user-info-box">
      <img id="user-profile-picture" [src]="user.profileUrl">
      <span id="username">{{ user.name }}</span>

      <div class="image-button" (click)="dashboard()">
        <img src="/assets/icons/settings.svg">
      </div>

      <div class="image-button danger" (click)="logout()">
        <img src="/assets/icons/exit.svg">
      </div>
    </div>
  </div>

  <div id="chat-region">
    <div id="chat-toolbar">
      <div id="chat-title">
        <ng-container *ngIf="currentChannel !== undefined">
          <img src="/assets/icons/hash.svg">
          <span>{{ channelList[currentChannel].name }}</span>
        </ng-container>
      </div>

      <ng-container *ngIf="currentChannel !== undefined">
        <div class="image-button" (click)="addUser()" *ngIf="user.hasPermission('group_admin') || isAssistant()">
          <img src="/assets/icons/account-add.svg">
        </div>
      </ng-container>
    </div>

    <div id="chat-main">
      <div id="chat-area">
        <div id="chat-restrict-container">
          <div id="chat">
            <chat-item *ngFor="let event of chatEvents" [chatEvent]="event"></chat-item>
          </div>
        </div>

        <div id="chatbox-container">
          <form (ngSubmit)="sendMessage()">
            <input type="text" id="chatbox" [(ngModel)]="messageText" name="message"
              [placeholder]="currentChannel !== undefined ? 'Message #' + channelList[currentChannel].name : ''" />

            <div class="image-button" id="image-post-button" (click)="sendImage()">
              <img src="/assets/icons/message-image.svg">
            </div>
          </form>
        </div>
      </div>

      <div id="user-list">
        <ng-container *ngIf="currentChannel !== undefined">
          <h3>Online &ndash; {{ online.length }}</h3>

          <!-- Online user list -->
          <ng-container *ngFor="let member of channelList[currentChannel].members">
            <div class="user-selector" *ngIf="online.includes(member)">
              <span [class.assistant]="isAssistant(member)">{{ member }}</span>

              <ng-container *ngIf="user.hasPermission('group_admin')">
                <div class="image-button clear" (click)="removeAssistant(member)" *ngIf="isAssistant(member)">
                  <img src="/assets/icons/shield-remove.svg">
                </div>

                <div class="image-button clear" (click)="addAssistant(member)" *ngIf="!isAssistant(member)">
                  <img src="/assets/icons/shield-plus.svg">
                </div>
              </ng-container>

              <div class="image-button clear" [class.invisible]="!user.hasPermission('group_admin') && !isAssistant()"
                (click)="removeUser(member)">
                <img src="/assets/icons/cross.svg">
              </div>
            </div>
          </ng-container>

          <h3>Offline &ndash; {{ channelList[currentChannel].members.length - online.length }}</h3>

          <!-- Offline user list -->
          <ng-container *ngFor="let member of channelList[currentChannel].members">
            <div class="user-selector" *ngIf="!online.includes(member)">
              <span [class.assistant]="isAssistant(member)">{{ member }}</span>

              <ng-container *ngIf="user.hasPermission('group_admin')">
                <div class="image-button clear" (click)="removeAssistant(member)" *ngIf="isAssistant(member)">
                  <img src="/assets/icons/shield-remove.svg">
                </div>

                <div class="image-button clear" (click)="addAssistant(member)" *ngIf="!isAssistant(member)">
                  <img src="/assets/icons/shield-plus.svg">
                </div>
              </ng-container>

              <div class="image-button clear" [class.invisible]="!user.hasPermission('group_admin') && !isAssistant()"
                (click)="removeUser(member)">
                <img src="/assets/icons/cross.svg">
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>


<modal-dialog id="modal-create-group">
  <h1>Create Group</h1>
  <form (ngSubmit)="doAddGroup()">
    <input name="name" type="text" [(ngModel)]="newGroupName" placeholder="Group Name" />

    <div class="action-row">
      <button (click)="cancelAddGroup()">Cancel</button>
      <input type="submit" class="primary-action" value="Create" />
    </div>
  </form>
</modal-dialog>


<modal-dialog id="modal-create-channel">
  <h1>Create Channel</h1>
  <form (ngSubmit)="doAddChannel()">
    <input name="name" type="text" [(ngModel)]="newChannelName" placeholder="channel-name" />

    <div class="action-row">
      <button (click)="cancelAddChannel()">Cancel</button>
      <input type="submit" class="primary-action" value="Create" />
    </div>
  </form>
</modal-dialog>


<modal-dialog id="modal-add-user">
  <h1>Add User to Channel</h1>
  <form (ngSubmit)="doAddUser()">
    <input name="name" type="text" [(ngModel)]="newUserName" placeholder="user_name" />

    <div class="action-row">
      <button (click)="cancelAddUser()">Cancel</button>
      <input type="submit" class="primary-action" value="Add User" />
    </div>
  </form>
</modal-dialog>
