$accent-fg: #A537FD;


.invisible {
  visibility: hidden;
}


#root {
  width: 100%;
  height: 100%;

  display: flex;
}


#group-list {
  width: 90px;

  background: #EDEDED;
  border-right: 1px solid #DDD;

  .group-icon {
    margin: 10px 15px;

    width: calc(100% - 30px);
    padding-top: calc(100% - 30px);

    background: #FFF;

    border-radius: 100%;
    cursor: pointer;

    position: relative;

    &.selected {
      position: relative;
      top: -2px;
      left: -2px;

      border: 2px solid #A537FD;
    }

    & > * {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &#new-group {
      background: $accent-fg;

      img {
        filter: invert(100%) brightness(200%);
      }
    }
  }
}


#sidebar {
  width: 350px;

  background: #F6F6F6;
  border-right: 1px solid #E6E6E6;

  display: flex;
  flex-direction: column;

  #channel-toolbar {
    height: 40px;
    padding: 10px 15px;

    border-bottom: 1px solid #DDD;

    display: flex;
    align-items: center;

    span {
      font-family: "Noto Sans Bold";
      font-size: 13.5pt;

      color: #333;

      flex-grow: 1;
    }
  }

  #channel-list {
    flex-grow: 1;

    .channel-selector {
      display: flex;
      align-items: center;

      padding-left: 10px;
      margin: 0 10px;
      margin-bottom: 5px;

      border-radius: 5px;
      cursor: pointer;

      &:first-child {
        margin-top: 10px;
      }

      &:last-child {
        margin-bottom: 10px;
      }

      &.selected {
        background-color: #E0E0E0;
        cursor: default;

        &:hover {
          background-color: #E0E0E0;
        }
      }

      &:hover {
        background-color: #D0D0D0;
      }

      img:first-child {
        margin-right: 10px;
      }

      span {
        flex-grow: 1;

        font-family: "Noto Sans Bold";
        color: #555;
      }

      .image-button {
        z-index: 500;
      }
    }
  }

  #user-info-box {
    height: 48px;

    padding: 20px 15px;

    display: flex;
    align-items: center;

    img {
      height: 100%;
      margin-right: 10px;
    }

    #username {
      color: #333;
      font-size: 20px;

      flex-grow: 1;
    }

    .image-button {
      margin-left: 5px;
    }
  }
}


#chat-toolbar {
  height: 40px;
  padding: 10px 15px;

  border-bottom: 1px solid #DDD;

  display: flex;

  #chat-title {
    display: flex;
    align-items: center;
    flex-grow: 1;

    img {
      margin-right: 5px;
    }

    span {
      font-family: "Noto Sans Bold";
      font-size: 13.5pt;

      color: #333;
    }
  }
}


#chat-region {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  #chat {
    flex-grow: 1;
  }

  #chat-main {
    display: flex;
    flex-grow: 1;
  }

  #chat-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  #chatbox-container {
    height: 48px;
    padding: 20px;

    display: flex;

    #chatbox {
      width: 100%;
      height: 100%;

      padding-left: 14px;
      font-size: 16px;

      background: #EDEDED;

      outline: none;
      border: 1px solid #DDD;
      border-radius: 10px;
    }
  }

  .user-selector {
    display: flex;
    align-items: center;

    padding-left: 10px;
    margin: 0 10px;
    margin-bottom: 5px;

    border-radius: 5px;

    &:first-child {
      margin-top: 10px;
    }

    &:last-child {
      margin-bottom: 10px;
    }

    span {
      flex-grow: 1;
    }
  }
}


#user-list {
  width: 350px;

  background: #F6F6F6;
  border-left: 1px solid #E6E6E6;

  display: flex;
  flex-direction: column;

  h3 {
    margin-left: 1em;
  }

  & span.assistant {
    color: #f15a22;
  }
}


modal-dialog {
  h1 {
    margin-top: 0;
  }

  input {
    width: 500px;

    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 10px;

    font-size: 20px;

    background: #E6E6E6;

    display: block;
    outline: none;

    transition: border 0.1s linear;

    &:focus {
      border: 1px solid #19b5fe !important;
    }
  }

  .action-row {
    margin-bottom: 0;
  }

  button.primary-action {
    background: $accent-fg;
    color: #FFF;

    &:hover {
      background: #8c14fc !important;
    }
  }
}
