#root {
  padding: 20px;

  display: flex;
}


#profile-picture {
  width: 48px;
  height: 48px;

  margin-right: 20px;

  border-radius: 5px;

  object-fit: cover;
}


#header {
  padding-bottom: 5px;
}


#username {
  font-family: "Noto Sans Bold";
  font-size: 16pt;

  line-height: 0;
}


#post-time {
  margin-left: 0.5em;

  color: #666;

  font-size: 10pt;
}


#media-image {
  width: 100%;
  max-width: 800px;

  border-radius: 15px;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
