.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;
  z-index: 999999;

  overflow: hidden;

  .modal {
    background: #FFF;

    padding: 40px;
    border-radius: 20px;

    pointer-events: all;
  }
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 10000;

  background: #000;
  opacity: 0;

  transition: opacity 0.25s ease-out;

  &.visible {
    opacity: 0.15;
  }
}
