@font-face {
  font-family: "Noto Sans";
  src: url("assets/fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "Noto Sans Bold";
  src: url("assets/fonts/NotoSans-Bold.ttf");
}

@font-face {
  font-family: "Noto Sans Light";
  src: url("assets/fonts/NotoSans-Light.ttf");
}


* {
  font-family: "Noto Sans";

  // Disable text selection on everything by default (selectable text should be
  // explicitly marked as such)
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  overflow: hidden;
}


.image-button {
  width: 24px;
  height: 24px;

  padding: 8px;

  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: #DDD;
  }

  &.danger:hover {
    background-color: #F30 !important;

    img {
      filter: invert(100%) brightness(200%) !important;
    }
  }
}
