@font-face {
  font-family: "Noto Sans";
  src: url("assets/fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "Noto Sans Bold";
  src: url("assets/fonts/NotoSans-Bold.ttf");
}

@font-face {
  font-family: "Noto Sans Light";
  src: url("assets/fonts/NotoSans-Light.ttf");
}


* {
  font-family: "Noto Sans";

  // Disable text selection on everything by default (selectable text should be
  // explicitly marked as such)
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  overflow: hidden;
}


#root {
  filter: blur(0px);
  transition: filter 0.25s ease-out;
}


.modal-visible #root {
  filter: blur(10px);
}


.image-button {
  width: 24px;
  height: 24px;

  padding: 8px;

  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: #DDD;
  }

  &.danger:hover {
    background-color: #F30 !important;

    img {
      filter: invert(100%) brightness(200%) !important;
    }
  }
}


.action-row {
  width: 100%;
  margin: 1em 0;

  text-align: right;

  & button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}


button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;

  outline: none;
  background-color: #E6E6E6;

  font-size: 14px;

  cursor: pointer;

  &:hover {
    background-color: #D6D6D6;
  }
}
