.invisible {
  visibility: hidden;
}


#root {
  width: 100%;
  height: 100%;

  overflow-y: auto;
}


#content {
  width: 100%;
  max-width: 600px;

  margin: 0 auto;
}


.action-row {
  width: 100%;
  margin: 1em 0;

  text-align: right;

  & button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}


table {
  width: 100%;
  border-collapse: collapse;

  td {
    padding: 5px;

    border-top: 1px solid #000;

    &.expand {
      width: 99%;
    }
  }
}


button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;

  outline: none;
  background-color: #E6E6E6;

  font-size: 14px;

  cursor: pointer;

  &:hover {
    background-color: #D6D6D6;
  }
}
