.invisible {
  visibility: hidden;
}


#root {
  width: 100%;
  height: 100%;

  overflow-y: auto;
}


#content {
  width: 100%;
  max-width: 600px;

  margin: 0 auto;
}


.action-row {
  width: 100%;
  margin: 1em 0;

  text-align: right;

  & button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}


table {
  width: 100%;
  border-collapse: collapse;

  td {
    padding: 5px;

    border-top: 1px solid #000;

    &.expand {
      width: 99%;
    }
  }

  input {
    font-size: 12pt;
  }
}
